<aside>
  <div class="sidebar-container">
    <div class="my-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <a href="/">
        <div class="mb-4 p-1">
          <div><%- include ("../../public/img/icons/twitter-logo.svg") %></div>
        </div>
      </a>

      <div class="mb-4 p-1">
        <a href="/" class="nav-link" aria-current="page">
          <span><%- include ("../../public/img/icons/home.svg") %></span>
          <span style="padding-left: 10px">Home</span>
        </a>
      </div>
      <div class="mb-4" style="padding-left: 8px">
        <a href="/usuarios/<%= user._id %>" class="nav-link link-dark">
          <span><%- include ("../../public/img/icons/profile.svg") %></span>
          <span style="padding-left: 12px">Profile</span>
        </a>
      </div>
    </div>
  </div>
  <div class="sidebar-footer d-flex flex-column justify-content-between">
    <div>
      <button
        type="submit"
        class="btn btn-login rounded-pill w-100"
        style="background-color: var(--color-principal)"
      >
        <a class="btn-logout" href="/">Tweet</a>
      </button>
    </div>
    <div>
      <button type="submit" class="btn btn-danger rounded-pill mb-4 w-100">
        <a class="btn-logout" href="/logout">Logout</a>
      </button>
    </div>
  </div>
</aside>
