<aside>
  <div class="m-4" style="word-wrap: break-word" ;>
    <div class="bg-body-tertiary p-4 rounded-4 mb-3">
      <div class="mb-3">
        <h3 class="fw-bold fs-4">What's happening</h3>
      </div>
      <div class="mb-3">
        <p class="m-0 fw-light">Programming - Trending</p>
        <p class="m-0 fs-5 fw-bold">#MongoVsSequelize</p>
        <p class="m-0">97.5K Tweets</p>
      </div>
      <div class="mb-3">
        <p class="m-0 fw-light">Entertainment · Trending</p>
        <p class="m-0 fs-7 fw-bold">#StarWars</p>
        <p class="m-0">97.5K Tweets</p>
      </div>
      <div>
        <p class="m-0 fw-light">News · Trending</p>
        <p class="m-0 fs-5 fw-bold">#LifeInMars</p>
        <p class="m-0">97.5K Tweets</p>
      </div>
    </div>
    <div class="bg-body-tertiary p-4 rounded-4">
      <div class="mb-3">
        <h3 class="fw-bold">Who to follow</h3>
      </div>
      <div class="mb-3">
        <p class="m-0">Entertainment · Trending</p>
        <p class="m-0 fs-5 fw-bold">#StarWars</p>
        <p class="m-0">97.5K Tweets</p>
      </div>
      <div class="mb-3">
        <p class="m-0">Entertainment · Trending</p>
        <p class="m-0 fs-5 fw-bold">#StarWars</p>
        <p class="m-0">97.5K Tweets</p>
      </div>
      <div class="mb-3">
        <p class="m-0">News · Trending</p>
        <p class="m-0 fs-5 fw-bold">#LifeInMars</p>
        <p class="m-0">97.5K Tweets</p>
      </div>
    </div>
  </div>
</aside>
