<% following.forEach((follow) => { %>
<div class="d-flex">
  <div>
    <img
      src="https://twirpz.files.wordpress.com/2015/06/twitter-avi-gender-balanced-figure.png?w=640"
      alt="Profile picture default"
      style="width: 40px; height: 40px"
      class="rounded-circle m-0 mt-1"
    />
  </div>
  <div class="mb-3 flex-fill mx-2">
    <dl class="m-0 fs-5 fw-bold"><%= follow.firstname %> <%= follow.lastname %></dl>
    <dd class="m-0">@<%= follow.username %></dd>
  </div>
  <div class="mb-3 d-flex align-items-center">
    <button
      type="submit"
      class="btn btn-login rounded-pill"
      style="background-color: var(--color-principal)"
    >
      Follow
    </button>
  </div>
</div>
<% }) %>
