<!DOCTYPE html>
<html>

<head>
  <%- include("../partials/meta") %>
</head>

<body>
  <div class="container" style="width: 70%">
    <div class="row">
      <div class="col-3">
        <%- include("../partials/sidebar") %>
          <!-- Contenido de la primera columna -->
      </div>
      <div class="col-6">
        <h1>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo consequuntur soluta
          repellat! Quas, suscipit nesciunt. Deserunt neque molestias at quae nemo repellendus
          error tempora, ea corrupti dicta id est esse!
        </h1>
        <%- include("../partials/tweetList.ejs") %>
      </div>
      <div class="col-3">
        <!-- Contenido de la tercera columna -->
        <%- include("../partials/staticSidebar") %>
      </div>
    </div>
  </div>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>